.story {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-top: 100px;
}
.story__header{
    text-align: center;
    font-size: 50px;
}
.story__paragraph{
    background-color: transparent;
    font-size: 20px;
}
@media (max-width: 767px) {
    .story__paragraph {
        font-size: 15px;
    }
    .story {
        width: 300px;
    }
}