.project__img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.projects {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); 
    min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}
.project__title > h1 {
    font-size: 50px;
    padding-left: 20px;
    text-align: center;
}
.project__work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project__div > img:hover{
    transform: scale(1.2);
}


@media (max-width:426px) {
    .project__img{
        width: 300px;
        height: 300px;
    }
}
/* @media (max-width: 425px) {
    .project__work {
        padding-left: 40px;
    }
} */