.banner {
    background-color: #c792df81;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 80px;
    padding: 100px 100px 100px 150px;
    /* border: 0px solid #c792df81; */
}
.banner__Right > h1 {
    font-size: 60px;
    background-color: #D9BEE5;
    margin: 0px;
}
.banner__Right {
    background-color: #D9BEE5;
}
.banner__Left {
    background-color: #C792DF;
}
.banner__LeftImg {
    background-color: #C792DF;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* margin-right: 100px; */
}
.banner__LeftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c792df81;
    margin: 0px;

}
h2, p {
    background-color: #D9BEE5;
    text-align: center;
}
@media (max-width: 1040px) {
    .banner__LeftDiv {
        padding-top: 40px;
        
    }
    .banner {
        padding-right: auto;
        padding-left: auto;
        /* margin-right: auto; */
        
    }
    .banner__Right > h1 {
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    .banner {
        margin: 30px;

    }
    .banner__Right > h1 {
        font-size: 40px;
    }
    /* margin: 0px; */

}
@media (max-width: 426px) {
    .banner {
        padding: 100px 25px 100px 50px;
        margin: 30px -20px 30px 30px;
    }
    .banner__Right > h1 {
        font-size: 30px;
    }
    .banner__LeftImg {
        width: 200px;
        height: 200px;
        margin-right: 0px;
    }
}
@media (max-width: 320px) {
    .banner {
        padding: 25px 10px 25px 25px;
        margin-right: -40px;
    }
    .banner__Right > h1 {
        font-size: 25px;
    }
    .banner__LeftImg {
        width: 200px;
        height: 200px;
        margin-right: -70px;
    }
}